<form method="post" action>
    <div class="form-control">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Enter title">
    </div>
    <div class="form-control">
        <label for="textarea">Textarea</label>
        <input type="text" id="textarea" name="textarea" placeholder="enter le description">
    </div>
    <div class="form-control">
        <label for="prix">prix</label>
        <input type="text" id="prix" name="prix" placeholder="prix$$">
    </div>
   <select class="form-control" id="niv">
    
        <option value="1">Débutant</option>
        <option value="2">Intermediaire</option>
        <option value="3">Avancé</option>
   </select>
</form>